* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 12px;
}

:root {

    --font-family: 'Roboto';
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs24: 24px;
    --fs48: 48px;
    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;
    --fw700: 700;
    --fw800: 800;
    --fw900: 900;
    --primary-color: #f97242;
    --secondary-color: #fff;
    --black-color: black;

}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}


.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

body {
    font-family: var(--font-family);
    font-size: var(--fs14);
}

img {
    max-width: 100%;
    display: block;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
}

/* header start */
header {

    margin: 20px 0 0 0;
    width: 100%;

}

header .header-logo {
    padding: 20px 0;
}

header .header-logo ul li a {
    color: #a3a2a2;
    margin: 0 10px;
    font-family: var(--font-family);
}

header .header-logo ul li a i {
    margin: 5px;
}

header .header-logo ul li:first-child a:hover {
    color: var(--primary-color);
}

header .header-menu {
    background-color: #1f1f1f;
    width: 100%;
}

header .header-menu .menu ul li a {
    color: var(--secondary-color);
    font-size: var(--fs16);
    font-weight: var(--fw400);
    padding: 27px 0;
    margin: 0 16px;
    font-family: var(--font-family2);
    position: relative;
    transition: 0.5s;
}

header .header-menu .menu ul li a::after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    left: 0;
    opacity: 0;
    bottom: 0;
    transition: 0.5s;
}

header .header-menu .menu ul li a:hover::after {
    opacity: 1;
}

header .header-menu .menu ul li a:hover {
    color: var(--primary-color);
}

header .header-menu .menu ul li .drop-down {
    position: relative;
    visibility: hidden;
    opacity: 0;
}

header .header-menu .menu ul li:hover .drop-down {
    visibility: visible;
    opacity: 1;
}

header .header-menu .menu ul li .drop-down ul {
    position: absolute;
    background-color: #1f1f1f;
}

header .header-menu .menu ul li .drop-down ul li {
    position: relative;
}

header .header-menu .menu ul li .drop-down ul li a {
    padding: 15px 70px 15px 0;
    text-wrap: nowrap;
    text-align: left;
}

header .header-menu .menu ul li .drop-down ul li a::after {
    display: none;
}

header .header-menu .menu ul li .drop-down ul li a:hover {
    color: var(--primary-color);
}

header .header-menu .menu ul li .drop-down ul li a i {

    font-size: smaller;
    padding-left: 95%;
}

header .header-menu .menu ul li .drop-down ul li .submenu {
    position: absolute;
    left: 260px;
    top: 0px;
    visibility: hidden;
}

header .header-menu .menu ul li .drop-down ul li:hover .submenu {
    visibility: visible;
}

header .header-menu .menu ul li:hover .drop-down {
    visibility: visible;
}

header .header-menu .icon ul li a i {
    background-color: var(--primary-color);
    padding: 10px;
    margin: 5px;
    color: var(--secondary-color);
    font-size: var(--fs16);
}



/* header end */
/* Banner start  */
.banner {
    /* position: relative; */
    background-image: url('../image/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    padding: 350px 0;
}

.banner .banner-content {
    color: white;
}

.banner .banner-content h1 {
    color: var(--secondary-color);
    font-size: var(--fs48);
    font-weight: var(--fw300);

}

.banner .banner-content p {
    font-size: var(--fs16);
    color: var(--secondary-color);
    font-weight: var(--fw300);
    padding: 20px 0;
    line-height: 1.5;

}

.banner .banner-content a {
    background-color: var(--secondary-color);
    color: var(--black-color);
    padding: 10px 15px;
    display: inline-block;
    font-size: var(--fs16);
}
.banner .banner-content a:hover
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/* Banner end  */
/* image start  */
.image
{
    margin: 50px 0;
    
}
.image .card
{
    overflow: hidden;
    
}
.image .card .info 
{
   transition: 0.2s;
   position: relative;
   width: 100%;
}
.image .card .info h3 a
{
    position: absolute;
    /* background-color:#f9734294;
    visibility: hidden;
    transform: translateY(50%);
    transition: 0.2s;
    overflow:  hidden;
    text-align: center;
    text-wrap: wrap;
    font-weight: var(--fw600);
    box-sizing: border-box;
    color: var(--secondary-color);
    font-size: var(--fs24); */
}
.image .card .info:hover h3 a
{
    visibility: visible;
}
/* image end */
/* product start */
.product
{
    margin-top: 20px;
    padding:0 0px;
}
.product .title h2 
{
    text-align: center;
}
/* product end */